{
  "aad": {
    "tenantId": "",
    "clientId": "",
    "clientSecret": ""
  },
  "partnerCenter": {
    "managedAppPrincipalId": "",
    "publisherId": ""
  },
  "azure": {
    "subscriptionId": "",
    "location": "",
    "adminPassword": "",
    "storageAccountResourceGroup": "",
    "storageAccountName": "",
    "storageAccountKey": ""
  },
  "azureDevOps": {
    "organization": "",
    "project": "",
    "serviceConnectionPrincipalId": "",
    "serviceConnectionPrincipalKey": "",
    "notifyUsers": ""
  }
}
