{
  "aad": {
    "tenantId": "#{AAD_TENANTID}#",
    "clientId": "#{AAD_CLIENTID}#",
    "clientSecret": "#{AAD_CLIENTSECRET}#"
  },
  "partnerCenter": {
    "managedAppPrincipalId": "#{PARTNERCENTER_MANAGEDAPPPRINCIPALID}#",
    "publisherId": "#{PARTNERCENTER_PUBLISHERID}#"
  },
  "azure": {
    "subscriptionId": "#{AZURE_SUBSCRIPTIONID}#",
    "location": "#{AZURE_LOCATION}#",
    "adminPassword": "#{AZURE_ADMINPASSWORD}#",
    "storageAccountResourceGroup": "#{AZURE_STORAGEACCOUNTRESOURCEGROUP}#",
    "storageAccountName": "#{AZURE_STORAGEACCOUNTNAME}#",
    "storageAccountKey": "#{AZURE_STORAGEACCOUNTKEY}#"
  }
}
