# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
name: SolutionTemplateBuild
on:
  workflow_dispatch:
  pull_request:
jobs:
  ValidateARMTemplates:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Generate ARM template from Bicep templates
        uses: Azure/bicep-build-action@v1.0.1
        with:
          bicepFilePath: ./samples/solution-template/base-image-vm/app-contents/mainTemplate.bicep
          outputFilePath: ./samples/solution-template/base-image-vm/app-contents/mainTemplate.json
      - name: Run ARM-TTK
        uses: ./.github/actions/run-armttk
        with:
          templatesFolderPath: ./samples/solution-template/base-image-vm/app-contents
          armttkVersion: aka.ms/arm-ttk-latest
  BuildDraftOffer:
    runs-on: ubuntu-latest
    needs: ValidateARMTemplates
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Generate config.json.tmpl
        uses: cschleiden/replace-tokens@v1.1
        with:
          files: '["scripts/config.json.tmpl"]'
        env:
          AAD_TENANTID: ${{ secrets.AAD_TENANTID }}
          AAD_CLIENTID: ${{ secrets.AAD_CLIENTID }}
          AAD_CLIENTSECRET: ${{ secrets.AAD_CLIENTSECRET }}
          PARTNERCENTER_MANAGEDAPPPRINCIPALID: ${{ secrets.PARTNERCENTER_MANAGEDAPPPRINCIPALID }}
          PARTNERCENTER_PUBLISHERID: ${{ secrets.PARTNERCENTER_PUBLISHERID }}
      - name: Generate Partner Center CLI config YAML file
        uses: ./.github/actions/generateCLIConfig
        with:
          configYamlPath: ${GITHUB_WORKSPACE}/samples/solution-template/base-image-vm/config.yml
      - name: Install Partner Center CLI
        uses: ./.github/actions/installPartnerCenterCLI
